name: 'StarterECSPullRequest'

on:  
  workflow_call:
    inputs:
      tfc-organization:
        type: string
        required: true
    secrets:
      tfc-token:
        required: true


jobs:
  terraform-dev-plan:
    runs-on: ubuntu-latest

    steps:
    - id: checkout
      name: checkout
      uses: actions/checkout@v4
      
    - name: "Terraform DEV Plan"
      uses: CailleachOrg/tfc-shared-actions/.github/actions/tfc/tfc-starter-plan@main
      with:
        tfc-organization: "${{ inputs.tfc-organizations }}"
        tfc-token: "${{ secrets.tfc-token }}"
        tfc-workspace: "${{ github.event.repository.name }}-dev"
        environment: "** DEV **"
        message: "${{ github.event.pull_request.title }}"

  terraform-hml-plan:
    runs-on: ubuntu-latest

    steps:
    - id: checkout
      name: checkout
      uses: actions/checkout@v4

    - name: "Terraform HML Plan"
      uses: CailleachOrg/tfc-shared-actions/.github/actions/tfc/tfc-starter-plan@main
      with:
        tfc-organization: "${{ inputs.tfc-organizations }}"
        tfc-token: "${{ secrets.tfc-token }}"
        tfc-workspace: "${{ github.event.repository.name }}-hml"
        environment: "** HML **"
        message: "${{ github.event.pull_request.title }}"

  terraform-prd-plan:
    runs-on: ubuntu-latest

    steps:
    - id: checkout
      name: checkout
      uses: actions/checkout@v4

    - name: "Terraform PRD Plan"
      uses: CailleachOrg/tfc-shared-actions/.github/actions/tfc/tfc-starter-plan@main
      with:
        tfc-organization: "${{ inputs.tfc-organizations }}"
        tfc-token: "${{ secrets.tfc-token }}"
        tfc-workspace: "${{ github.event.repository.name }}-prd"
        environment: "** PRD **"
        message: "${{ github.event.pull_request.title }}"
